language: go
sudo: required
dist: trusty
go:
  - 1.5
  - 1.6
  - tip
before_install:
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - if ! go get code.google.com/p/go.tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi
script:
  - $HOME/gopath/bin/goveralls -repotoken $COVERALL_TOKEN
env:
  global:
    secure: "zjXurFzfW4rwYWAivjYIzpXoQXms8ntfOOBvIIzDhHQp4Tj3wHoBXW2VTw+d7FjG5iyrV6K6fZ8oJnuGyyCqoi4VQSQP/i8fuy62nJsfj5vt4KxU6TFgZvBQSVtzmZYZAcSNr1lIWBmqtgOLTNu38qjqXMBzo/kyK24horKhNFpSakfuJA5zxtFY+lQXow84w4h1tgYHmp/MRsW4OmNTqFG5sCq2osAES4Zz+VlZWIjWdTnFIubz4sV5OKt0ErBhlAtOVpXDebijQt2O9OSSfJErkTJOie9MJdz7o8KqBzKfjZWdazNGMuG1ebPgd05oloKM9rz9d56gCGFfR2az2I/cB8RSzPD7+v67rAE3V3al5WJLPJwHfaaG/Cv9ZajBMIvmvG7VP6vI+tpJIBc0tfOkfaO1ekmReY9EZHzMTRKShBj+8/kzpNWnSqxqtB0GF2Rv0G4c2WZN0mWVkWC4DXP9ILEv6UxFwhUEjeoX9VJVpRIONwV4/wFKLO3pwmSTdCKOhx3aE8lRwfWZc5EXTr/QpsWmJ1vrsr0Qn8oyJjroKiAu+EdRc+Uz/q55ykpZ6opgXz/T9bASSNPTapGIUUnyan7z5XnENaanCyjfiISyPL1NPBbArdt772NlXoIpaUYZejK16j74qWOCjvAHlYlyd08LIWasQ239mwOMPgc="
